.w404
  max-width 640px
  margin 46px auto 0
  text-align center
  padding 0 20px
  box-sizing border-box

.section-404-freebie
  background-color #F5F5F5

.w404-image-wrapper
  width 100%
  max-width 600px
  margin 0 auto

.w404-image
  width 100%

.w404-headline
  font-size 48px
  line-height 48px
  text-transform uppercase
  padding 35px 0 0
  font-family 'Josefin Sans'
  font-weight 600

.w404-description
  font-size 16px
  line-height 25px
  color $grey-light-medium
  padding 19px 0 34px

.w404-home
  .btn
    text-transform uppercase
    width 160px

.section-404-freebie
  .section-header
    max-width 100%

  .content
    width 100%
    padding-right 0


@media (max-width 1160px)
  .section.section-404
    padding-top 75px

  .section-404-freebie
    .base-col
      padding 0 60px

    .section-header
      max-width 100%

    .content
      width 100%
      padding-right 0

    .posts-list .post-item,
    .posts-list .post-partner
      width calc(33.33% - 40px)

@media (max-width 992px)
  .section.section-404
    padding-top 52px

  .w404-image-wrapper
    max-width 520px

  .w404-headline
    font-size 38px
    line-height 38px
    padding-top 47px

  .w404-description
    padding 21px 0 28px

  .section-404-freebie
    padding 85px 0 80px

    .base-col
      padding 0 36px

    .section-header
      padding-bottom 48px

  .section-404-freebie
    .posts-list .post-partner,
    .posts-list .post-item
      width calc(50% - 40px)

@media (max-width 620px)
  .section.section-404
    padding-top 34px
    padding-bottom 60px


  .w404-image-wrapper
    padding 0 6px
    box-sizing border-box

  .w404-headline
    font-size 32px
    line-height 45px
    padding-top 33px

  .w404-description
    font-size 15px
    line-height 24px
    padding 8px 0px 33px

  .section-404-freebie
    padding 47px 0

    .content
      margin-bottom 0

    .section-header
      padding-bottom 30px

    .base-col
      padding 0 20px

    .posts-list
      margin -24px 0

      .post-partner,
      .post-item
        width 100%
        margin 24px 0

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min--moz-device-pixel-ratio: 1.25),
only screen and ( -o-min-device-pixel-ratio: 1.25/1),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi)
	.w404-headline
    font-weight 700
