.lk-wrapper
  display block
  margin 10px auto 0
  border 1px solid $grey-light
  border-radius 4px
  padding 80px
  box-sizing border-box
  max-width 1320px

  &.-lk-purchase
    padding-top 72px
    padding-bottom 72px

  .input-wrapper
    width 100%

.lk-content-wrapper
  display flex
  flex-wrap wrap

.refferal-sales-wrapper
  margin-top 34px

  h2.lk-headline
    margin-bottom 30px

.lk-content-plan-wrapper
  flex 1 1
  margin-right 40px

  .lk-headline
    margin-bottom 34px

.lk-content-payment-method
  flex 1 1
  margin-left 40px

  .lk-headline
    margin-bottom 34px

.lk-profile-wrapper
  flex 0 0 50%
  padding-right 40px
  box-sizing border-box

.lk-categories-wrapper
  flex 1 1

.affiliate-current-balance
  flex 1 1
  margin-right 40px

  .lk-headline
    margin-bottom 34px

.affiliate-refferal-details
  flex 1 1
  margin-left 40px

  .lk-headline
    margin-bottom 34px

.lk-purchase-aside
  flex 0 0 220px
  margin-left 60px
  padding-top 97px

h2.lk-headline
  font-size 36px
  line-height 57px
  color $black
  font-weight 500
  margin-bottom 40px

h3.lk-headline
  font-size 21px
  line-height 33px
  color $black
  font-weight 500
  margin-bottom 24px

.lk-headline
  &.-mobile-show
    display none

.lk-fieldset
  &.-indention
    padding-bottom 8px

.lk-label-field
  margin-bottom 26px

.lk-profile-info-wrapper
  flex 0 0 50%
  padding-left 40px
  box-sizing border-box

.upload-userpic-wrapper
  margin-bottom 30px

  .upload-userpic-image
    flex 0 0 100px
    margin-right 20px
    width 100px
    height 100px
    background-size cover
    background-position center

  .uploadUserpicInput
    display none

  .upload-userpic-content
    display flex

  .link
    font-weight bold
    cursor pointer
    color $error

    &:hover, &:active
      color $error

  .upload-userpic-label
    display block
    padding-bottom 12px
    color $grey-light-medium
    font-size 16px
    line-height 28px

  .upload-userpic-text
    color $grey-light-medium
    font-size 12px
    line-height 18px
    margin 13px 0 3px


.lk-social-connections
  margin-top 30px

  .connected-block-wrapper
    margin-bottom 24px

    &:last-child
      margin-bottom 0

.lk-footer
  border-top 1px solid $grey-lighter-medium
  margin-top 42px
  padding-top 58px

.lk-categories-list
  margin 0

// LK Categories
.lk-categories-item
  display flex
  flex-wrap wrap
  background $grey-lightest-medium
  border-radius 4px
  padding 32px 32px 16px
  box-sizing border-box
  margin 20px 0

.lk-categories-image-wrapper
  flex 0 0 144px
  height 106px
  padding 5px
  box-sizing border-box
  background $white

.lk-categories-image
  width 100%
  height 100%
  background-size cover

.lk-categories-content
  margin-left 28px
  margin-top -6px

.lk-categories-headline
  font-weight 500
  color $blue-dark
  font-size 21px
  line-height 33px

.lk-categories-set-price
  padding 6px 0 10px
  display flex
  align-items center

.lk-categories-price-tag
  display inline-block
  color $grey-light
  font-size 12px
  font-weight 600
  text-transform uppercase
  margin-left 10px
  transition color .15s linear
  text-decoration none

.lk-categories-price-amount
  background $violet
  border-radius 4px
  font-weight 500
  font-size 13px
  line-height 21px
  text-align center
  min-width 42px
  box-sizing border-box
  text-transform uppercase
  color $white
  padding 1px 9px

  &.-free
    background-color $red-light

.lk-categories-tags-item
  display flex
  line-height 21px

.lk-categories-tags-name
  color $grey
  font-size 14px
  line-height 21px
  font-weight 600
  min-width 55px
  margin-right 3px

.lk-categories-tags-link
  linkDefault()
  font-weight 600
  color $blue-dark
  text-decoration none

  &:hover, &:active, &:focus
    color $red-secondary
    text-decoration none

    span
      text-decoration underline

  b
    color $grey-light-medium

.lk-categories-buttons
  flex 0 0 180px
  margin-left auto
  padding-top 2px

  &.-large
    flex 0 0 237px

  a
    width 100%
    min-width 180px !important
    height 42px
    margin-bottom 18px

    &.-social
      padding 7px 16px 7px 38px

.lk-categories-subheadline-wrapper
  padding 16px 0 9px

  .lk-headline
    margin-bottom 0

.lk-categories-actions-wrapper
  padding 10px 0 8px

  .btn
    width 190px
    text-align center
    padding-left 0
    padding-right 0

.lk-categories-small-aside
  display none
  width 100%

  .items-selector
    width 100%

.exlucsive-freebie
  margin-top 43px
  margin-bottom -12px

  .lk-headline
    margin-bottom 32px

.lk-affiliate-actions-wrapper
  margin-top 40px

  .-smallMedium
    display block

  .-large
    display none

  a
    width 190px
    padding-left 0 !important
    padding-right 0 !important

@media (max-width 1400px)
  .lk-wrapper
    margin-top 20px
    width 100%
    max-width 1100px
    padding 78px 60px

    &.-subscription
      padding-top 60px
      padding-bottom 72px

  .lk-categories-wrapper
    flex 0 0 100%

  .-purchase-h2-headline
    display none

  .lk-purchase-aside
    display none

  .lk-categories-small-aside
    display block

  .lk-content-plan-wrapper,
  .affiliate-current-balance
    flex 0 0 280px
    margin-right 30px

  .lk-content-payment-method,
  .affiliate-refferal-details
    margin-left 30px

  .plan-details-wrapper
    flex-wrap wrap
    padding 70px 40px 40px

  .refferal-sales-wrapper
    margin-top 62px

@media (max-width 1160px)
  .lk-wrapper
    margin-top 20px
    width 100%
    max-width 960px
    padding 78px 60px

  .lk-profile-wrapper
    padding-right 30px

  .lk-profile-info-wrapper
    padding-left 30px

  .lk-footer
    margin-top 44px

  .lk-content-wrapper
    flex-wrap wrap

  .lk-wrapper.-lk-purchase
    padding-top 60px
    padding-bottom 72px

  .lk-categories-small-aside
    padding-bottom 20px

@media (max-width 992px)
  .lk-wrapper
    margin-top 8px
    width 100%
    max-width 680px
    padding 70px 60px

    &.-subscription
      padding-top 54px

  .lk-content-wrapper
    flex-wrap wrap

  .lk-content-plan-wrapper
    .lk-headline
      margin-bottom 27px

  .lk-content-plan-wrapper
    flex 0 0 100%

  .affiliate-current-balance
    flex 0 0 100%
    margin-right 0
    margin-bottom 42px

    .lk-headline
      margin-bottom 26px

  .affiliate-refferal-details
    flex 0 0 100%
    margin-left 0

    .lk-headline
      margin-bottom 26px

  .plan-details-wrapper
    padding-top 48px
    padding-bottom 48px

  .refferal-sales-wrapper
    margin-top 32px

    h2.lk-headline
      margin-bottom 20px

  .lk-content-payment-method
    margin-left 0
    margin-top 40px
    flex 0 0 100%

  .lk-profile-wrapper,
  .lk-profile-info-wrapper
    flex 0 0 100%
    padding-left 0
    padding-right 0

  .lk-content-payment-method
    .lk-headline
      margin-bottom 26px

  .lk-profile-info-wrapper
    margin-top 8px

  .upload-userpic-wrapper
    margin-bottom 26px

  .lk-footer
    margin-top 70px

  .upload-userpic-wrapper
    .upload-userpic-text
      margin-top 10px
      padding-bottom 4px

  .lk-categories-content
    margin-left 20px

  .lk-categories-item
    padding 32px

  .lk-categories-buttons
    display flex
    margin-left 0
    margin-top 20px

    a
      margin-bottom 0
      margin-right 20px
      padding-left 0 !important
      padding-right 0 !important
      min-width 144px !important

      &.-social
        padding-left 16px !important

      .hide-mobile
        display none

  .exlucsive-freebie
    .lk-headline
      margin-bottom 24px

@media (max-width 700px)
  .lk-wrapper
    margin 3px 20px 0
    padding 38px 0 100px
    width calc(100% - 40px)
    border-radius 0
    border 0
    border-top 1px solid #F0F0F0

  .lk-fieldset.-indention
    padding-bottom 12px

  .lk-profile-info-wrapper
    margin-top 14px

  .upload-userpic-wrapper
    margin-top -8px
    margin-bottom 56px

  .lk-social-connections
    margin-top 0

  .lk-footer
    padding-top 50px
    margin-top 50px

    .btn
      width 100%

  .lk-categories-content
    width 100%
    margin-left 0

  .lk-categories-item
    padding 20px

  .lk-categories-wrapper
    flex 1 1
    width 100%

  .lk-categories-content
    margin-top 18px

  .lk-categories-headline
    font-size 19px
    line-height 27px

  .lk-categories-buttons
    display flex
    margin-left 0
    margin-top 20px

    a
      margin-bottom 0
      margin-right 18px
      padding-left 0 !important
      padding-right 0 !important
      min-width 140px !important

      &:last-child
        margin-right 0

      &.-social
        padding-left 10px !important
        border 1px solid $grey-light !important

  .lk-categories-small-aside
    padding-bottom 10px

  .lk-categories-item
    padding 26px 20px

  .lk-categories-set-price
    padding 14px 0 11px

  .lk-categories-subheadline-wrapper
    padding 16px 0 2px

  .lk-categories-actions-wrapper
    .btn
      border 1px solid $grey-light !important

  .lk-wrapper.-lk-purchase,
  .lk-wrapper.-subscription
    border-top 0
    padding-top 0

  .lk-headline.-plan-details-headline
    display none

  .plan-details-wrapper
    padding-bottom 40px

  .lk-content-payment-method
    margin-top 36px

    .lk-headline
      margin-bottom 22px

  .refferal-sales-wrapper
    h2.lk-headline
      font-size 21px
      line-height 33px
      margin-bottom 26px

  .exlucsive-freebie
    margin-top 34px

  .plan-details-wrapper
    padding-left 50px
    padding-right 50px

  .lk-headline
    &.-mobile-hide
      display none

  .lk-headline
    &.-mobile-show
      display block

  .refferal-sales-wrapper
    margin-top 4px

  .lk-affiliate-actions-wrapper
    .-smallMedium
      display none

    .-large
      display block
      font-family Roboto
      width 100%
      height 64px
